@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 500 16px "Red Hat Display", sans-serif;
}

h1 {
  color: #3829e0;
}